@import 'tailwindcss';

body {
  background: radial-gradient(
      circle at 50% -10%,
      #2d1b4e 0%,
      /* Lilac Shadow */ #120821 40%,
      /* Deep Purple */ #050505 100% /* Deep Black */
    )
    no-repeat fixed !important;
}

* {
  transition: all 0.2s ease;
}

/* Custom Scrollbar untuk Nismara Racing */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #030712;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* Blue-500 */
}
